.banner-section {
	background: url('../../../public/landing/intro-banner.png');
	background-repeat: repeat;
	background-size: contain;
}

.banner-content {
	/* background: linear-gradient(180deg, #0B0B0B 15%, rgba(11, 11, 11, 0.00) 100%); */
	background: linear-gradient(180deg, rgba(11,11,11,1) 15%, rgba(11,11,11,.5) 50%, rgba(11,11,11,1) 105%);
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4em 0;
	transition: all .5s ease;
}

.button-txt {
	padding-inline: 48px;
	position: relative;
	transition: all .3s ease;
	text-transform: uppercase;
	color: #FFFFFF;
}

.button-txt::before {
	content: '';
	position: absolute;
	top: 47%;
	right: 0;
	transform: translateX(100%);
	width: 100px;
	height: 2px;
	background: #505050;
	transition: all .5s ease;
}

.button-txt::after {
	position: absolute;
	content: '';
	top: 45%;
	left: 0;
	transform: translateX(-100%) translateY(50%);
	width: 100px;
	height: 2px;
	background: #505050;
	transition: all .5s ease;
}

.line {
	width: 100px;
	height: 2px;
	background: #505050;
	transition: all .3s ease;
}


.button:hover .button-txt {
	padding-inline: 24px;
	transform: scale(1.1);
}

.button:hover .line {
	width: 80px;
}

.button:hover .button-txt::before {
	top: -100%;
	right: 50%;
	transform: translateX(50%) rotate(90deg);
	width: 20px;
}

.button:hover .button-txt::after {
	top: 200%;
	left: 50%;
	transform: translateX(-50%) rotate(-90deg);
	width: 20px;
}

.button.clicked {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.clicked .line:first-child {
	transform: translateX(-100%);
}

.clicked .line:last-child {
	transform: translateX(100%);
}